#notes-div {
	width: 100%;
	padding: 5%;
}

#notes {
	font-weight: 300;
	font-size: 1.4em;
	color: #ffffff;
	background: none;
	border: 0px;
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	margin-top: 15px;
}