#notes-div {
	width: 100%;
	padding: 5%;
}

#title-div {
	color: #CA8D73;
}

#notes {
	font-weight: 400;
	font-size: 1.4em;
	color: #dddddd;
	background: none;
	border: 0px;
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	margin-top: 15px;
}